footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}
footer h2{
  font-size: 1.4em;
  font-family: var(--font-bold);
  margin: 2% 0 10% ;
}
#pstart{
  color: var(--mark-color3);
  font-size: .8em;
  margin: 10px 0;
}
.contatos{
  display: flex;
  gap: 20px;
  padding: 0 25px;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}
.contatos p{
  font-size: 1.2em;
  font-family: var(--font-menium);
  z-index: 2;
}
.links-contatos{
  z-index: 0;
  border-top: 1px solid var(--color-base);
  padding: 20px 10px;
  flex: 1 1 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
.links-contatos:hover{
  color: #fff;
}
.links-contatos:hover::after{
  content: '';
  z-index: 1;
  left: 0;
  height: 103%;
  width: 0;
  position: absolute;
  animation: btnHover .5s linear forwards;
}
#ico-insta{
  background-image: url(../../assets/images/icones-contato/instagram.png);
}
#ico-linke{
  background-image: url(../../assets/images/icones-contato/logotipo-do-linkedin.png);
}
#ico-email{
  background-image: url(../../assets/images/icones-contato/enviar.png);
}
footer span{
  z-index: 2;
  background-size: cover;
  background-color: var(--mark-color1);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
#pfinal{
  font-size: .7em;
  font-family: var(--font-light);
  margin: 10% 0 5%;
}
@media(min-width: 650px){
  .contatos{
    flex-direction: row;
    padding: 0 7%;
  }
  footer h2{
    font-size: 3em;
  }
  #pstart{
    font-size: 1em;
  }
}
@keyframes btnHover{
  to{
    background-color: var(--mark-color3);
    width: 100%;
  }
}