header{
  height: 90px;
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: space-between;
  top: 0;
  padding: 0 2%;
  z-index: 999;
  background-color: transparent;
}
#nav{
  flex: 0 1 500px;
  display: flex;
  align-items: center;
  justify-content: end;
  translate: 5%;
}
#menu{
  flex: 0 1 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style:none;
}
#menu a{
  font-size: 11px;
  position: relative;
  animation: line 5s ease-in-out forwards;
  font-family: var(--font-light);
}
#menu a::after{
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--color-base);
  bottom: 0;
  left: .5px;
  transition: .3s ease-out;
}
#menu a:hover::after{
  scale: 0;
}
#mode{
  height: 15px;
  width: 35px;
  padding: 1px;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  border: 1px solid var(--color-base);
}
body.darkMode #mode{
  justify-content: flex-end;
}
#mode div{
  background-color: var(--mark-color1);
  height: 100%;
  width: 12px;
  border-radius: 50%;
}
@keyframes line{
  to{
    scale: 1;
  }
}
/*AREA DO MENU*/  
#btnMenu{
  display: none;
  align-items: center;
  justify-content: center;
  border:none;
  background-color: transparent;
  gap: 10px;
  color: var(--color-base);
  cursor: pointer;
}
.hambur{
  width: 30px;
  border-top: 2px solid  var(--color-base);
}
.hambur::after,
.hambur::before{
  content: '';
  display: block;
  background-color: var(--color-base);
  width: 30px;
  height: 2px;
  margin-top: 5px;
  transition: .3s;
}
@media(max-width: 600px){
  #btnMenu{
    display: flex;
    margin: 0 10px;
  }
  #btnMenu::before{
    content: 'Menu'
  }
  #nav{
    translate: 0;
  }
  #menu a{
    width: 0;
  }
  #nav.active #menu a::after{
    width: 0;
  }
  #nav.active #btnMenu::before{
    content: 'Fechar'
  }
  #menu{
    display: none;
  }
  #nav.active #menu{
    transition: all 1S;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 35px;
    border: 1px solid var(--color-base);
    border-radius: 10px;
    padding: 10px 5px; 
  }
  #nav.active .hambur{
    border-top-color: transparent;
  }
  #nav.active .hambur::before{
    rotate: 135deg;
  }
  #nav.active .hambur::after{
    rotate: -135deg;
    translate: 0px -7px
  }
  
}

